html {
  scroll-padding-top: 80px; 
}

.navbar {
    position:fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 10; 
    display: flex;
    align-items: center; 
    transition: background 0.3s ease;
  }

  .navbar .nav-link{
      font-size: 20px;
  }
  .navbar #navname {
    color: white !important; 
  }
  .navbar .navbar-brand,
.navbar .nav-link {
  padding: 10px 20px; 
}

#name{
  font-size: 35px;
  margin-top: 25px;
  margin-left: 90px;
  background:linear-gradient(to right, rgba(255, 0, 0, 0.607),  rgb(200, 114, 10) 60%);
  text-decoration: solid;
  clip-path: polygon(20% 0%, 80% 0%, 105% 50%, 80% 100%, 20% 100%, -5% 50%);
}

#title{
  font-size: 30px;
  color: white;
}
.carousel-item img {
    object-fit: cover; 
  }

  .btn{
      background-color: darkred;
      color: white;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card .price {
    background-color: #f7c08d;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.2rem;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #menu {
    margin-right: 30px;
    margin-left: 80px;
  }
  .card{
    border: none;
  }
  .img-fluid{
    height: 250px;
  }

